.taskList {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        li {
            list-style: none;

            // input {
            //     .checkBox {
            //         text-decoration: line-through;
            //     }

            // }

        }
    }
}
.checkBox{
    text-decoration: line-through;
}